@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

.front {
    color: white;
    transition: 2s;
}

.front:hover {
    letter-spacing: 0.5px;
    color: rgb(47, 0, 255);
    transition: 1s;
}

.header {
    text-align: center;
    padding: 5px 0 0 0;
}

.made-by {
    color: rgb(150, 150, 150);
}

.name {
    padding-left: 3px;
    letter-spacing: 3px;
    color:rgb(255, 255, 255);
    font-family: 'Fira Mono';
    transition: 2s;
}

.name:hover {
    transition: 1s;
    color: rgb(47, 0, 255);
    text-shadow: 0 0 10px rgb(255, 0, 221);
    cursor: pointer;
}